/* <!-- ====== 1.1. Header section ====== --> */

.header-index {
    background-image: url("../photos/bg/hero_bg.png");
    background-position: center center;
    background-size: cover;
}

.header {
    padding: 20px 0;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 15px;
    color: #d3c9c1;
}

.container-nav {
    gap: 70px;
}

.navbar-logo {
    margin-right: 25px;
}

.navbar-nav {
    gap: 50px;
}

.nav-link {
    display: block;
    font-weight: 500;
    color: #d3c9c1;
    transition: 0.3s;
}

.nav-link::after {
    content: '';
    width: 0;
    height: 3px;
    display: block;
    background-color: #f57c48;
    margin-top: 2px;
    transition: 0.3s;
}

.nav-link:hover,
.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    font-weight: 700;
    transition: 0.3s;
}

.dropdown {
    position: relative;
}

.dropdown-toggle::after {
    content: '';
    vertical-align: middle;
    margin-left: 5px;
}

.dropdown-menu {
    position: absolute;
    padding: 30px;
    display: none;
    z-index: 9;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    width: 220px;
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
    background-color: #3d0f41;
    margin-left: -52px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: inherit;
}

.dropdown-item {
    display: block;
    width: 100%;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: white;
    background-color: inherit;
}

.dropdown-menu li {
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: white;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.dropdown-menu .dropdown-item::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    transition: 0.3s;
    background: #b520a3;
    z-index: -1;
    top: 0;
    left: 0;
}

.dropdown-menu .dropdown-item:hover::before {
    width: 100%;
    background: #b520a3;
}

.btn_hover1 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    border: 1.5px solid #d12bec;
    color: white;
    z-index: 1;
    letter-spacing: 0.8px;
    background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
    cursor: pointer;
}

.btn_hover1::before {
    content: "";
    border-radius: 50px;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    z-index: -1;
    top: 0;
    right: 0;
}

.btn_hover1:hover::before {
    width: 0;
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
}

/* ====== End of 1.1. Header section ====== */

/* ====== 1.2. hero section ====== */

.hero {
    background-image: url("../photos/bg/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 172px 0 279px 0;
}

.hero .container {
    position: relative;
}

.hero h1 {
    color: white;
    letter-spacing: 3.75px;
    text-transform: uppercase;
}

.hero-social-icon {
    position: absolute;
    left: 0;
    top: 0;
    flex-direction: column !important;
    justify-content: flex-start !important;
}

.hero-social-icon a {
    padding: 16px 38px 16px 38px !important;
}

.hero-social-icon i {
    font-size: 26px;
    background: linear-gradient(0deg, #f54a48 0.5%, #fa982f 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-social-icon i:hover {
    background: linear-gradient(0deg, #f54a48 0.5%, #f54a48 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-social-icon hr {
    display: block;
    margin-top: 68px;
    opacity: 1;
    color: white;
    width: 110px;
    rotate: 90deg;
}

.center-data {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero h3 {
    color: white;
    text-transform: uppercase;
}

.center-btn {
    gap: 1.5rem;
    margin-top: 1rem;
}

/* button hover with background */

.btn_hover2 {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50px;
    border: 1.5px solid #d12bec;
    color: white;
    z-index: 1;
    letter-spacing: 0.8px;
}

.btn_hover2::before {
    content: "";
    border-radius: 50px;
    position: absolute;
    width: 0;
    height: 100%;
    transition: 0.3s ease-in;
    background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
    z-index: -1;
    top: 0;
    left: 0;
}

.btn_hover2:hover::before {
    width: 100%;
    border-radius: 50px;
    background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
}

/* button hover end */
.center-btn a {
    padding: 16px 38px 16px 38px !important;
}

/* ====== End of 1.2. hero section ====== */

/* ====== 1.3. card section ====== */

.feature {
    background-color: #150725;
    margin-top: -100px;
    position: relative;
}

.welcome {
    position: relative;
    text-align: center;
    color: white;
    text-transform: uppercase;
    top: 100px;

}

.feature .container {
    margin-top: 300px;
}

.feature span {
    display: block;
    width: 100px;
    height: 4px;
    background-color: #f57c48;
    margin: 10px auto 70px auto;
}

.feature .flex {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
}

.header-card {
    margin-top: -145px;
    display: flex;
    flex: 0 0 auto;
    width: 25%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.hover::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 20px;
    transition: 0.4s;
    z-index: -1;
}

.hover:hover::before {
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #904423;
    color: #000000;
    transition: 0.4s;
}

.header-card div {
    border-radius: 20px;
    background: linear-gradient(0deg, #471133 0%, #140921 100%);
    color: white;
    padding: 40px 30px;
    transition: 0.4s;
}

.header-card div:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.header-card .feature-img1 {
    width: 53px;
}

.header-card img {
    width: 60px;
}

.header-card h4 {
    width: 146px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin: 20px 0 12px 0;
}

/* ====== End of 1.3. card section ====== */

/* ====== 1.4. About us section ====== */

.about {
    background: #3d0f41;
    padding: 100px 0;
}

.about-data {
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.w-50 {
    flex: 0 0 auto;
    width: 50%;
}

.about-title {
    gap: 1rem;
}

.about-data h2 {
    margin: 20px 0;
    color: white;
}

.about h5 {
    color: white;
    font-weight: 400;
    font-family: "Barlow", sans-serif;
}

.about p {
    color: white;
}

.about i {
    border: 2px solid #fa982f;
    border-radius: 50%;
    padding: 3px;
    font-size: 20px;
    background: linear-gradient(66.75deg, #f54a48 0.87%, #fa982f 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about i:hover {
    background: #fa982f;
    -webkit-text-fill-color: black;
    transition: 0.3s;
}

.about-data a {
    padding: 16px 38px 16px 38px !important;
}

.about-imgs {
    position: relative;
    background-image: url("../photos/bg/about-bg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.about-imgs figure {
    background: linear-gradient(42deg, #7436bb 0.01%, #b520a3 100%);
    width: fit-content;
    clip-path: circle(45% at 50% 50%);
    transition: 0.8s ease;
}

.about-imgs figure:hover {
    transform: scale(1.05);
    transition: 0.8s ease;
}

.about-imgs img {
    width: 85%;
    display: block;
    margin: auto;
    clip-path: circle(48% at 50% 50%);
}

.about-data ul {
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 450px;
}

.about-data ul li {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #a8a8a8;
    margin: 10px 5px;
    border-radius: 50%;
    transition: 0.3s;
}

.about-data ul li.active,
.about-data ul li:hover {
    background-color: #fa982f;
    transition: 0.3s;
}

.ab-count {
    flex-direction: column;
    text-align: center;
    background: linear-gradient(180deg, #ff7527 0%, #fabf28 100%);
    color: white;
    position: absolute;
    bottom: -18px;
    left: 118px;
    z-index: 11;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    transition: 0.5s;
}

.ab-count:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.ab-count h2 {
    margin: 0;
}

.about-hr {
    color: white;
    position: absolute;
    right: -50px;
    bottom: 25px;
    rotate: -90deg;
}

.about-hr hr {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.ab-count p {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}

.about-hr h6 {
    letter-spacing: 3.72px;
    text-transform: uppercase;
}

/* ====== End of 1.4. About us section ====== */

/* ====== 1.5. gallery section ====== */

.portfolio-1 {
    background: #150725;
    padding: 120px 0 120px 0;
    margin-top: -1px;
}


.portfo-center {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.portfo-center .w-50 {
    width: 66.66666667%;
}


.portfolio-1 h5 {
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.portfolio-1 h2 {
    color: white;
}

.portfolio-1 p {
    color: #d3c9c1;
    padding-right: 145px;
    margin-top: 1rem;
}

.portfolio-1 .gallary-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.portfo-center hr {
    width: 100%;
    opacity: 1.25;
    height: 1px;
    color: #461f72;
    border: 1px solid;
}


.portfolio-1 .btn_hover2 {
    padding: 15px 30px;
    border: 1px solid #ff7527;
}

.portfo-center .w-100 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

/* gallary */
.gallary {
    background-image: url("../photos/bg/gallary-bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-bottom: 120px;
    position: relative;
    z-index: 1;
}

.gallary img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.gallary img[alt="sm_img"] {
    height: 200px;
}

.ga-bg {
    background-color: #150725;
    height: 300px;
}

.gallary span {
    background-color: #150725;
    opacity: 0.8;
    width: 100% !important;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.gallary .container {
    margin-top: -390px;
    z-index: 1;
    position: relative;
}

.tab {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: inherit;
    color: white;
    border-radius: 10px;
}

.tab button.active {
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
}

.gallary-hr h6 {
    letter-spacing: 3.72px;
    text-transform: uppercase;
    color: white;
}

.gallary-hr hr {
    opacity: 1;
    color: white;
    height: 2px;
    width: 60px;
}

.tabcontent {
    padding: 6px 12px;
}

.tabcontent .w-100 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* ====== End of 1.5. gallary section ====== */

/* ====== 1.6. Services section ====== */

.service-1 {
    background: #3d0f41;
    padding: 120px 0;
}

.service-data {
    display: flex;
    flex-wrap: wrap;
}

.service-1 h5 {
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.service-1 h2 {
    color: white;
}

.service-1 .col-lg-8 p {
    padding: 0 221px 0 0;
}

.service-1 p {
    color: #d3c9c1;
    position: relative;
    margin-bottom: 15px;
}

.service-1 .service-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.service-1 hr {
    width: 100%;
    opacity: 1.25;
    height: 1px;
    color: #461f72;
    border: 1px solid;
}

.service-1 .btn_hover2 {
    padding: 15px 30px;
    border: 1px solid #ff7527;
}

.service-card {
    border: 1px solid #b520a3;
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
    box-shadow: 8px 18px 30px 0px rgba(0, 0, 0, 0.2);
    padding: 40px 40px 30px 40px;
    width: 100%;
    transition: 0.4s;
}

.service-card:hover {
    transform: scale(1.05);
    transition: 0.4s;
}

.service-card a {
    color: #d3c9c1;
    display: flex;
    align-items: center;
    gap: 5px;
}

.service-card a:hover {
    font-weight: 700;
    color: white;
    gap: 8px;
}

.service-card h3 {
    margin: 20px 0;
    color: white;
    letter-spacing: 1.25px;
}

.service-card img {
    object-fit: cover;
    margin: auto;
    display: block;
}

.service-card figure {
    background: white;
    box-shadow: 10px 17px 28px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 12px;
    width: 124px;
    height: 85px;
    display: flex;
}

.service-card img[alt="slider1"] {
    width: 105px;
}

.service-card img[alt="slider2"] {
    width: 75px;
}

.service-card img[alt="slider3"] {
    width: 60px;
}

/* ====== End of 1.6. Services section ====== */

/* ====== 1.7. Experience section ====== */

.experience {
    background-image: url("../photos/bg/experience_bg.jpg");
    background-size: cover;
    background-position: center center;
    padding: 120px 0;
    position: relative;
    margin-top: -1px;
}

.experience::before {
    position: absolute;
    content: "";
    top: 26rem;
    background-image: url("../photos/bg/experience_cercle.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30%;
    height: 39%;
    left: 32%;
}

.experience h5 {
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.experience h2 {
    color: white;
}

.experience p {
    color: #d3c9c1;
}

.experience .col-lg-8 p {
    padding: 0 221px 0 0;
}

.experience .experience-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.experience hr {
    width: 100%;
    opacity: 1.25;
    height: 1px;
    color: #461f72;
    border: 1px solid;
    margin: 35px 0;
}

.experience .btn_hover1 {
    padding: 15px 40px;
}

.experience .btn_hover2 {
    padding: 15px 30px;
    border: 1px solid #ff7527;
}

.experience .col-lg-6 {
    z-index: 1;
}

.experience_mask figure {
    width: fit-content;
    clip-path: circle(47% at 50% 50%);
    padding: 6px;
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
    transition: 0.8s ease;
}

.experience_mask figure:hover {
    transform: scale(1.05);
    transition: 0.8s ease;
}

.experience_mask img {
    width: 100%;
    clip-path: circle(47% at 50% 50%);
}

.experience-hr {
    color: white;
    position: absolute;
    bottom: -220px;
    left: -45px;
    bottom: 25px;
    rotate: -90deg;
}

.experience-hr h6 {
    letter-spacing: 3.72px;
    text-transform: uppercase;
}

.experience-hr hr {
    opacity: 1.25;
    height: 1px;
    color: #ffffffbf;
    width: 60px;
    border: 1px solid;
    margin: 0;
}


.ex-card {
    border-radius: 10px;
    background: white;
    box-shadow: 0px 23px 30px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 20px 20px 20px;
    z-index: 1;
}

.ex-card:hover {
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
    transform: scale(1.05) !important;
    transition: 0.4s !important;
}

.ex-card:hover h4 {
    color: white;
}

.ex-card:hover p {
    color: white;
}

.ex-card .flex {
    border-radius: 50%;
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
    color: white;
    width: 115px;
    padding: 29px 0px;
}

.ex-card:hover.ex-card .flex {
    background: white;
}

.ex-card:hover.ex-card h3 {
    color: #7436bb !important;
}

.ex-card div:last-child {
    width: 100%;
}

.ex-card h4 {
    color: #231f20;
}

.ex-card p {
    color: #767676;
    margin-top: 10px;
}

/* ====== End of 1.7. Experience section ====== */

/* ====== 1.8. How we work section ====== */

.work {
    background-image: url("../photos/bg/work-bg.jpg");
    background-size: cover;
    background-position: center center;
    padding: 120px 0;
    margin-top: -2px;
}

.work h5 {
    letter-spacing: 1px;
}

.work-para {
    color: white;
    padding: 0 290px;
}

.work-line {
    background-image: url("../photos/bg/work-line.png");
    background-size: 100% 100%;
    background-position: center;
    min-height: 242px;
    background-repeat: no-repeat;
    margin: 146px 25px 146px 25px;
}

.work-line div {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 18px 0 32px 34px;
    transition: 0.3s;
}

.work-line div:hover {
    transform: scale(1.2);
    transition: 0.3s;
}

.work-line div:first-child {
    top: -66px;
    left: -30px;
    width: 196px;
    min-height: 196px;
}

.work-line div:nth-child(2) {
    bottom: -70px;
    left: 260px;
    width: 180px;
    min-height: 180px;
}

.work-line div:nth-child(3) {
    right: 260px;
    top: -66px;
    width: 196px;
    min-height: 196px;
}

.work-line div:last-child {
    right: -49px;
    bottom: -70px;
    width: 180px;
    min-height: 180px;
}

.work a {
    border: 1.5px solid #ff7527;
}

.work-hr {
    color: white;
    position: absolute;
    right: 0;
    rotate: -90deg;
}

.work-hr h6 {
    letter-spacing: 3.72px;
    text-transform: uppercase;
}

.work-hr hr {
    opacity: 1.25;
    height: 1px;
    color: #ffffffbf;
    width: 60px;
    border: 1px solid;
}

.work .btn_hover2 {
    padding: 15px 30px;
}

/* ====== End of 1.8. Testimonials section ====== */

/* ====== 1.9. team section ====== */

.team {
    background-image: url("../photos/bg/experience_bg.jpg");
    background-size: cover;
    background-position: center center;
    padding: 120px 0 0 0;
}

.team h5 {
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.team h2 {
    color: white;
    padding: 0 212px 0 0;
}

.team p {
    color: #d3c9c1;
    padding: 0 184px 0 0;
}

.team .team-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.team a {
    padding: 15px 30px;
    border: 1.5px solid #ff8c4b;
}

.team-img {
    min-width: 304px;
    object-fit: cover;
    position: relative;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.team-img:hover {
    transform: scale(1.1) !important;
    transition: 0.4s;
    z-index: 3;
}

.team-img img {
    width: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(180deg, #7436bb66 28%, #b520a378 68%);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}

.team-img:hover .overlay {
    height: 100%;
}

.overlay_text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.overlay_text h4 {
    margin: 6px 0 15px 0;
}

.overlay_text i {
    color: white;
    font-size: 20px;
}

.overlay_text a {
    border: 1px solid white;
    border-radius: 50%;
}

.overlay_text a:hover {
    background-color: white;
}

.overlay_text a:hover i {
    color: #150725;
}

.overlay_text .flex a:first-child {
    padding: 8px 13px !important;
}

.overlay_text .flex a:nth-child(2) {
    padding: 9px 12px !important;
}

.overlay_text .flex a:last-child {
    padding: 8px 10px !important;
}

.team-btn {
    background: linear-gradient(0deg, #471133 0%, #140921 100%);
    color: #d3c9c1;
    padding: 40px 20px;
    margin-top: 90px;
    text-transform: uppercase;
}

/* ====== End of 1.9. team section ====== */

/* ====== 1.10. Pricing section ====== */

.pricing {
    padding: 120px 0;
    background-image: url("../photos/bg/pricing-bg.png");
    background-size: cover;
    background-position: center center;
    color: white;
    z-index: 1;
}

.pricing span {
    background-color: #150725;
    opacity: 0.9;
    width: 100% !important;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.pricing-hr {
    color: white;
    position: absolute;
    right: 0;
    rotate: -90deg;
}

.pricing-hr h6 {
    letter-spacing: 3.72px;
    text-transform: uppercase;
}

.pricing-hr hr {
    opacity: 1.25;
    height: 1px;
    color: #ffffffbf;
    width: 60px;
    border: 1px solid;
}

.pricing p {
    padding: 0 30px;
}

.pricing-card div {
    background: #3d0f41;
    color: white;
    padding: 70px;
    transition: 0.4s ease;
    width: 100%;
}

.pricing-card div:hover {
    transform: scale(1.07) !important;
    transition: 0.4s !important;
    z-index: 3;
}

.pricing-card div:nth-child(2) {
    transform: scale(1.09);
    z-index: 2;
    background: linear-gradient(11deg, #7436bb 0.01%, #b520a3 100%);
}

.pricing-card div:nth-child(2):hover {
    transform: scale(1.05);
    z-index: 2;
}

.pricing-card h3 {
    color: #f57c48;
}

.pricing-card h2 {
    margin-bottom: 30px;
}

.pricing-card div:nth-child(2) a {
    background-color: white;
    color: #b520a3;
}

.pricing-card div:nth-child(2) a:hover {
    color: white;
}

.pricing-card a {
    padding: 15px 30px;
    margin-top: 20px;
}

/* ====== End of 1.10. Pricing section ====== */


/* ====== 1.11. FAQ section ====== */

.faq {
    background-image: url("../photos/bg/faq-bg.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 120px 0;
    z-index: 1;
}

.faq span {
    background-color: #000000;
    opacity: 0.6;
    width: 100% !important;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.faq .text-center h2 {
    color: white;
    padding: 0 55px 0 0;
    text-align: left;
}

.faq h5 {
    color: white;
}

.faq .text-center p {
    color: white;
    padding: 0 123px 0 0;
    text-align: left;
}

.faq .faq-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.accordion-item {
    width: 500px;
    transition: 0.4s;
}

.accordion-item:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.accordion-button {
    position: relative;
    width: 100%;
    text-align: left;
    outline: none;
    border: none;
    color: #231f20;
    font-weight: 700 !important;
    padding: 1rem 1.5rem;
    cursor: pointer;
}

/* ====== End of 1.11. FAQ section ====== */

/* ====== 1.12. Blogs section ====== */

.blog {
    background: #150725;
    padding: 120px 0;
}

.blog h5 {
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.blog h2 {
    color: white;
}

.blog p {
    color: #d3c9c1;
    padding: 0 296px 0 0;
}

.blog .blog-hr1 {
    opacity: 1.25;
    height: 1px;
    color: #b520a3;
    width: 60px;
    border: 1px solid;
}

.blog .btn_hover2 {
    padding: 15px 30px;
    border: 1.5px solid #ff8c4b;
}

.blog .row a {
    border: 1.5px solid #ff8c4b;
}

.blog-card {
    flex: 0 0 33.33%;
    overflow: hidden;
    padding-bottom: 20px;
}

.blog-card img {
    width: 100%;
    transition: 0.4s ease;
}

.blog-card:hover img {
    transform: scale(1.05);
    opacity: .8;
    transition: 0.4s ease;
}

.blog-card h4 {
    color: #d3c9c1;
    margin: 18px 0;
    padding: 0 30px 0 0;
}

.blog-card a {
    padding: 0 0 11px 0 !important;
    border-bottom: 2px solid #ff8c4b;
    letter-spacing: 2px;
    background: linear-gradient(66.75deg, #f54a48 0.87%, #fa982f 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ====== End of 1.12. Blogs section ====== */

/* ====== 1.13. Footer section ====== */

footer {
    background: #150725;
    padding: 120px 0 0 0;
}

.footer-hr .flex {
    rotate: -90deg;
}

.footer-hr h6 {
    color: white;
    letter-spacing: 3.72px;
    text-transform: uppercase;
}

.footer-hr h3 {
    margin-top: 125px;
    color: white;
    letter-spacing: 1px;
}

.footer-hr p {
    color: white;
    padding: 0 300px;
    margin: 20px 0 30px 0;
}

.footer-hr hr {
    opacity: 1.25;
    height: 1px;
    color: #ffffffbf;
    width: 60px;
    border: 1px solid;
}

footer form {
    border-radius: 50px;
    border: 1px solid #6d2f8a;
    background: #381a46;
    width: 76%;
    margin: auto;
}

footer form input {
    border-radius: 50px;
    background: #381a46;
    border: none;
    outline: none;
    padding: 10px 20px;
    color: white;
    width: 68%;
}

footer form button {
    transition: 0.3s ease;
    text-transform: uppercase;
}

footer form button:hover {
    color: #7436bb;
}

.footer-menu {
    background: linear-gradient(0deg, #471133 0%, #140921 100%);
    color: white;
    padding: 50px 0;
    margin-top: 77px;
}

.footer-menu img {
    width: 100px;
    filter: brightness(0) invert(1);
}

.footer-menu ul li a:hover {
    color: #f54a48;
}

.footer-menu i {
    font-size: 20px;
    background: linear-gradient(0deg, #f54a48 0.5%, #fa982f 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
}

.footer-menu i:hover {
    background: linear-gradient(0deg, #f54a48 0.5%, #f54a48 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-menu h4 {
    color: #f57c48;
    margin-bottom: 26px;
}

.footer-menu a {
    color: white;
    padding: 0 !important;
}

.footer-menu .col-lg-4 li {
    display: flex;
    gap: 20px;
}

.footer-menu p {
    padding: 0 78px 0 0;
}

.copyright {
    color: white;
    padding: 20px 0;
}

/* ====== End of 1.13. Footer section ====== */